In [2]:
import os
import pandas as pd

In [6]:
DATA_PATH = os.path.join('data_csv')

In [24]:
def count_top3(years):
    df = pd.DataFrame()
    for year in years:
            path = os.path.join(DATA_PATH, f'yob{year}.txt')
            frame = pd.read_csv(path, names=['Name', 'Gender', 'Count'])
            df = pd.concat([df, frame], names=['Name', 'Gender'], sort=True)
    return df.sort_values(by=['Count']).head(3)

count_top3([1900, 1950, 2000])

       Count Gender    Name
29768    5.0      M   Zyier
10026    5.0      M  Horris
10025    5.0      M  Horald

In [34]:
def count_dynamics(years):
    mens = []
    girls = []
    for year in years:
            path = os.path.join(DATA_PATH, f'yob{year}.txt')
            frame = pd.read_csv(path, names=['Name', 'Gender', 'Count'])
            girls.append(frame.query('Gender == "F"').Count.sum())
            mens.append(frame.query('Gender == "M"').Count.sum())
    
    print('Динамика мужчин: ')
    for men in mens:
        print(men)
        
    print('Динамика женщин: ')
    for girl in girls:
        print(girl)


count_dynamics([1900, 1950, 2000])

Динамика мужчин:
150483
1790549
1962969
Динамика женщин:
299800
1713151
1815110